<% for(var i=0; i<results.length; i++){ %>
<div class="contactsVCard">
	<div class='logo click2cc' style='float: left'>
		<% if(results[i].name){ %>
			<img src="<%= results[i].server_address %>/template/images/contact.png"/>
		<% } else { %>
			<img src="<%= results[i].server_address %>/template/images/company.png"/>
		<% } %>
	</div>
		<% if(results[i].name){ %>
		  	<div class='name click2cc'><%= results[i].name %>
	  		<% if(results[i].title){ %>	
				<div class='title'><%= results[i].title %> <%= results[i].type %></div>
			<% } %>
	          	</div>
		<% } %>

		<% if(results[i].company){ %>
        		<% if(results[i].name){ %>
		     		<div class='company'> <%= results[i].company %></div>
			<% } else { %>
		        <div class='name click2cc'> <%= results[i].company %></div>
		        <% } %>
		<% } %>
	
        	<div class='numbers'>	
		<% if(results[i].workphone){ %>
			<div class='label tr'><span class='value td'><img src="<%= results[i].server_address %>/template/images/phone.png" title='Telefono Ufficio' alt='Telefono Ufficio'/></span> <span class='td'><a href='#' class='click2call'><%= results[i].workphone %></a> <a href='#'></a></span></div>
		<% } %>
		
		<% if(results[i].cellphone){ %>
	        	<div class='label tr'><span class='value td'><img src="<%= results[i].server_address %>/template/images/mobile.png" title='Cellulare' alt='Cellulare'/></span> <span class='value td'><img src="<%= results[i].server_address %>/template/images/sms.png" class="click2sms cursorPointer" title='Invia SMS' data-num='<%= results[i].cellphone %>' alt='SMS'/></span><span class='td'><a href='#' class='click2call'><%= results[i].cellphone %></a></span></div>
		<% } %>

		<% if(results[i].homephone){ %>
		       <div class='label tr'><span class='value td'><img src="<%= results[i].server_address %>/template/images/phone.png" title='Telefono Casa' alt='Telefono Casa'/></span> <span class='td'><a href='#' class='click2call'><%= results[i].homephone %></a></a></span></div>
		<% } %>
		
		<% if(results[i].fax){ %>
		        <div class='label tr'><span class='value td'><img src="<%= results[i].server_address %>/template/images/fax.png" title='Fax' alt='Fax'/></span> <span class='td'><a href='#' class='click2fax'><%= results[i].fax %></a></span></div>
		<% } %>
	        </div>		
  
	        <% if(results[i].workemail){ %>
	        <div class='numbers'> 
		        <div class='label tr'><span class='value td'><img src="<%= results[i].server_address %>/template/images/mail.png" title='Email' alt='Email'/></span> <span class='td'><a href='mailto:<%= results[i].workemail %>'><%= results[i].workemail %></a></span>
			</div>  
		</div>
	        <% } %>

		<% if(results[i].workstreet){ %>
			<div class='numbers'> <div class='label' style="margin-top: 5px">Ufficio <a href='http://maps.google.it/maps?q=<%= results[i].workcity %>, <%= results[i].workstreet %> (<%= results[i].workprovince %>) - <%= results[i].workpostalcode %>' target='_blank'><img src='<%= results[i].server_address %>/template/images/map.png' title='Cerca su Google Maps'/></a></div> <div class='address'> <%= results[i].workcity %>, <%= results[i].workstreet %> (<%= results[i].workprovince %>) - <%= results[i].workpostalcode %></div> </div>
		<% } %>

	        <% if(results[i].homestreet){ %>
			<div class='numbers'> <div class='label' style="margin-top: 5px">Casa <a href='http://maps.google.it/maps?q=<%= results[i].homecity %>, <%= results[i].homestreet %> (<%= results[i].homeprovince %>)' target='_blank'><img src='<%= results[i].server_address %>/template/images/map.png' title='Cerca su Google Maps'/></a></div> <div class='address'> <%= results[i].homecity %>, <%= results[i].homestreet %> (<%= results[i].homeprovince %>) </div> </div>
		<% } %>

	        <% if(results[i].url){ %>
	        <div class='numbers'>
	        	<span class=''>Sito:</span> <a href='<%= results[i].url %>'><%= results[i].url %></a>
	        </div>
	        <% } %>
</div>
<% } %>
