<% if(results.length==0){ %>
	<table width="50%" cellpadding="5" ><tr><td><h3></h3></td></tr> <tr><td>Spiacente, nessun dato presente.</td></tr></table>
<% } else { %>
	<div id='cdr' class='flatTable ui-widget'>
		<div class='name ui-widget-header'>Ultime chiamate</div>
		<table class='ui-widget-content'>
			<tr><th>Data</th><th>Ora</th><th>Durata</th><th>Sorgente</th><th>Destinazione</th></tr>
			<% for(var i=0; i<results.length; i++){ %>
				<tr><td><%= results[i].date %></td><td><%= results[i].time %></td><td><%= results[i].billsec %></td><td><%= results[i].clid %></td><td><%= results[i].dst %></td></tr>
			<% } %>
		</table>
	</div>
<% } %>
